* {
	margin: 0;
	padding: 0;
}
body {
	background: #EEE;
}
div {
	font-family: 'Noto Sans', sans-serif;
	color: #111;
}
.flex-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
@media all
	and (max-width: 1200px){
		.flex-container * { width: 80%;	}
		h1 { font-size: 9vw; }
}
@media all
	and (min-width: 1200px){
		.flex-container * {	width: 960px; }
		h1 { font-size: 108px; }
}
img {
	float: left;
}
h1 {
	font-weight: 700;
	margin-bottom: 32px;
	text-align: center;
}
p {
	font-size: 4vmin;
	line-height: 6vmin;
	margin-top: 3vmin;
}
