* {
	margin: 0;
	padding: 0;
}
a, a:hover, a:visited, a:active {
	text-decoration: none;
}
body {
	background: #FFF;
	padding: 64px 0;
	font-family: 'Noto Sans', sans-serif;
	color: #111;
}
div {
}
img {
	float: left;
	width: 100%;
}
h1 {
	font-weight: 700;
	margin-bottom: 32px;
	text-align: center;
}
footer {
	width: 100%;
}
footer h2 {
	text-align: center;
	color: #DDD;
	font-size: 8pt;
	font-weight: 400;
}

.action {
	height: 64px;
	border-radius: 16px;
	background: #01ff70; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #01ff70 0%, #2ecc40 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #01ff70 0%,#2ecc40 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #01ff70 0%,#2ecc40 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01ff70', endColorstr='#2ecc40',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	color: #FFF;
	text-align: center;
	line-height: 64px;
	font-weight: 700;
	border-bottom: 2px solid #7FDBFF;
	box-sizing: border-box;;
}

.action:hover {
	border-color: #39CCCC;
}
.action:active {
	border-bottom: none;
	border-top: 2px solid #39CCCC;
}

.color-shift {
	animation:
		begin 6s ease 3s normal 1 none running,
		shift 60s ease 9s normal infinite none running
}

@keyframes
	begin {
		0% { color: #111; }
		100% { color: #0074D9; }
	}
@keyframes
	shift {
		0%, 100% { color: #0074D9; }
		10% { color: #85144B; }
		20% { color: #FF4136; }
		30% { color: #FF851B; }
		40% { color: #FFDC00; }
		50% { color: #01FF70; }
		60% { color: #2ECC40; }
		70% { color: #3D9970; }
		80% { color: #39CCCC; }
		90% { color: #7FDBFF; }
	}
.flex-container {
	display: flex;
}
@media all
	and (max-width: 1200px){
		.action {
			width: 50%;
			padding: 8px 16px;
			font-size: 3vmax;
			font-weight: 700;
		}
		.flex-container {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.flex-container > * { width: 80%; }
		.flex-container section article * {
			margin: 16px 0;
		}
		.large-avatar { display: block; }
		.inline-avatar { display: none; }
		h1 { font-size: 9vw; }
		article h1 {
			text-align: left;
			font-size: 4.5vw;
		}
		p {
			font-size: 3vmin;
			line-height: 4.5vmin;
			margin-top: 1.5vmin;
		}
}
@media all
	and (min-width: 1200px){
		.action {
			width: 456px;
			font-size: 21pt;
			font-weight: 700;
			display: inline-block;
		}
		.flex-container {
			width: 960px;
			margin: 0 auto;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: flex-start;
		}
		.large-avatar { display: none; }
		.inline-avatar {
			display: inline;
			float: left;
			width: 456px;
			margin: 0 32px 32px 0;
		}
		article { margin: 32px 0; }
		h1 { font-size: 108px; }
		article h1 {
			text-align: left;
			font-size: 24pt;
		}
		p {
			font-size: 18pt;
			line-height: 24pt;
			margin-top: 12pt;
		}
}
@media all
    and (max-width:776px){
			.action {display: none;}
		}
