a, a:visited {
	color: #0074D9;
	text-decoration: none;
}
a:disabled {
	color: #FF0000;
}
a:hover {
	color: #7FDBFF;
	text-decoration: underline;
}
.bgWhite {
	background: #FFF;
	color: #111;
}
.bgWhiteContrast {
	background: #EEE;
}
.bgBlack {
	background: #111;
	color: #FFF;
}
.bgBlue {
	background: #0074D9;
	color: #FFF;
}
.bgBlackContrast {
	background: #222;
	color: #FFF;
}
.bgYellow {
	background: #FFDC00;
	color: #111;
}
.fullWidth {
	width: 100%;
}
.noPadding {
	padding: 0;
}
