@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,700;1,400&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
*:before,
*:after {
	box-sizing: border-box;
}
a, a:visited {
	color: #0074D9;
	text-decoration: none;
}
a:disabled {
	color: #FF0000;
}
a:hover {
	color: #7FDBFF;
	text-decoration: underline;
}
body,
html {
	background: #000;
	color: #FFF;
	font-family: 'Cormorant', serif;
	font-size: 16pt;
	font-weight: 400;
	height: 100%;
	position: relative;
}
footer {
	bottom: 0;
	height: 108pt;
	position: absolute;
	vertical-align: center;
	width: 100%;
}
footer h2 {
	line-height: 108pt;
}
h1 {
	font-size: 1.75em;
	text-align: center;
}
h2 {
	font-size: .875em;
	text-align: center;
}
header {
	padding-top: 24pt;
}
header h1 {
	font-size: 3em;
}
header h2 {
	font-size: 1.5em;
}
p {
	font-size: 1em;
	line-height: 1.5em;
	padding-bottom: 12pt;
	text-align: justify;
	text-indent: 50pt;
}
#page-container {
	display: block;
	min-height: 100vh;
	overflow: hidden;
	padding-bottom: 108pt;
	position: relative;
}
#page-container div {
	margin-top: 24pt;
}
.img-max-width {
	margin: 0 auto;
	max-width: 1000pt;
	padding: 0 12pt;
}
.max-width {
	margin: 0 auto;
	max-width: 600pt;
	padding: 0 12pt;
}
.ascii-art {
	color: #0F0;
	font-family: monospace;
	font-size: 100%;
	padding: 24pt 0;
	text-align: center;
}
.ascii-art p {
	font-size: 1.5vmin;
	line-height: 1em;
	padding: 0;
	text-align: center;
	text-indent: 0;
}
/* Wizardy */
@media screen
	and (max-width: 599px) {
		.max-width {
			max-width: 100%;
		}
}