html, body {
	height: 100%;
	width: 100%;
	background: #3D3D3D;
	margin: 0;
	padding: 0;
}
canvas {
	display: block;
	vertical-align: bottom;
}
#particles-js {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	background-color: #3D3D3D;
	background-image: url('');
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
#container {
	position: absolute;
	width: 90%;
	top: 5%;
	left: 5%;
	color: #FFF;
	z-index: 2;
}
a, a:visited {
	color: #2ECC40;
	text-decoration: none;
}
a:hover {
	color: #2ECC40;
	text-decoration: underline;
}
h1 {
	font-size: 64pt;
	font-family: 'Montserrat', sans-serif;
}
p {
	font-size: 32pt;
	font-family: 'Montserrat', serif;
	line-height: 1.6em;
}
